.cart-button {
    position: fixed;
    right: 20px;
    transition: all 0.4s ease-in-out;
}

.cart-button:hover {
    transform: scale(1.2);
    font-weight: bold;
}

.cart-icon {
    width: 70px;
    height: 70px;
}

.cart-number {
    color: coral;
    margin-bottom: -2px;
    display: flex;
    justify-content: center;
    font-family: cursive;
}