.container {
    display: flex;
    justify-content: center;
}

.sort-by-dropdown {
    position: relative;
    display: inline-block;
}

.sort-by-dropdown > input[type="checkbox"] {
    position: absolute;
    left: -100vw;
}

.sort-by-dropdown > label,
.sort-by-dropdown > a[role="button"] {
    display: inline-block;
    padding: 6px 15px;
    color: #333;
    line-height: 1.5em;
    text-decoration: none;
    border: 1px solid #8c8c8c;
    cursor: pointer;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.sort-by-dropdown > label:hover,
.sort-by-dropdown > a[role="button"]:hover,
.sort-by-dropdown > a[role="button"]:focus {
    border-color: #333;
}

.sort-by-dropdown > label:after,
.sort-by-dropdown > a[role="button"]:after {
    content: "+";
    display: inline-block;
    margin-left: 6px;
}

.sort-by-dropdown > ul {
    position: absolute;
    z-index: 999;
    display: block;
    left: -100vw;
    top: calc(1.5em + 14px);
    border: 1px solid #8c8c8c;
    background: #fff;
    padding: 6px 0;
    margin: 0;
    list-style: none;
    width: 100%;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: 0 3px 8px rgba(0,0,0,.15);
    -moz-box-shadow: 0 3px 8px rgba(0,0,0,.15);
    box-shadow: 0 3px 8px rgba(0,0,0,.15);
}

.sort-by-dropdown > ul a {
    display: block;
    padding: 6px 15px;
    text-decoration: none;
    color: #333;
}

.sort-by-dropdown > ul a:hover,
.sort-by-dropdown > ul a:focus {
    background: #ececec;
}

.sort-by-dropdown > input[type="checkbox"]:checked ~ ul,
.sort-by-dropdown > ul:target {
    left: 0;
}

.sort-by-dropdown > [type="checkbox"]:checked + label:after,
.sort-by-dropdown > ul:target ~ a:after {
    content: "-";
}

.sort-by-dropdown a.close {
    display: none;
}

.sort-by-dropdown > ul:target ~ a.close {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    text-indent: -100vw;
    z-index: 1000;
}

.sort-inputs {
    margin: 3%;
    width: 20%;
    height: 2.5rem;
    padding: .375rem .75rem;
    font-size: 1rem;
    border: 1px solid #ced4da;
    border-radius: .375rem;
    transition: border-color .2s ease-in-out, box-shadow .2s ease-in-out;
}

.sort-inputs:focus {
    border-color: #1ee63a;
    outline: 0;
    box-shadow: 0 0 0 .25rem rgb(199, 255, 207);
}

.price-rating {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 3%;
}

@media only screen and (max-width: 500px) {
    .sort-inputs {
        width: 35%;
    }
}

.sort-dropdown {
    display: flex;
    align-items: center;
}