:root {
    --bg-footer: #D6F1D7;
    margin-top: auto;
}

footer {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 3.5rem 1rem;
    gap: 10rem;
    border-bottom: solid 1px #aaa;
    background-color: var(--bg-footer);
}

.links {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 1rem;
}

footer > div > a {
    transition: all 0.4s ease-in-out;
}

footer > div > a:hover {
    transform: scale(1.7);
}

@media only screen and (max-width: 830px) {
    footer {
        gap: 2rem;
    }
}