* {
    box-sizing: border-box;
}

:root {
    --bg-button: #9dfafc;
    --bg-button-active: #f1f1f1;
    --bg-nav: #d9feff;
    --bg: #f0f7f1;
    --bg-menu: #d3dbd5;
    --input-border: #ced4da;
    --input-focus-border: #1ee63a;
}

body {
    margin: 0;
    font-family: cursive;
    color: black;
    background-color: var(--bg);
}

nav {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 0.5rem;
    gap: 1rem;
    border-bottom: solid 1px #aaa;
    background-color: var(--bg-nav);
}

nav a, .menu a, .modal-body a {
    display: inline-block;
    min-width: 4rem;
    padding: 0.5rem;
    border-radius: 0.2rem;
    border: solid 1px #aaa;
    text-align: center;
    text-decoration: none;
    color: black;
    background-color: var(--bg-button);
}

input {
    width: 30%;
    height: 2.5rem;
    padding: .375rem .75rem;
    font-size: 1rem;
    border: 1px solid var(--input-border);
    border-radius: .375rem;
    transition: border-color .2s ease-in-out, box-shadow .2s ease-in-out;
}

input:focus {
    border-color: var(--input-focus-border);
    outline: 0;
    box-shadow: 0 0 0 .25rem rgb(199, 255, 207);
}

button {
    display: none;
}

button:active, button:hover {
    background-color: var(--bg-button-active);
}

a:active, a:hover {
    background-color: var(--bg-button-active);
}

.menu > input {
    width: 65%;
}

.menu {
    display: none;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    padding: 0.5rem;
    gap: 1rem;
    background-color: var(--bg-menu);
}

.menu-buttons {
    display: flex;
    gap: 1rem;
    justify-content: space-between;
    flex-wrap: wrap;
}

@media only screen and (max-width: 992px) {
    nav a {
        display: none;
    }
    nav > input {
        display: none;
    }
    nav {
        justify-content: space-between;
        padding-left: 3%;
        padding-right: 3%;
    }
    button {
        display: flex;
        align-items: center;
        background-color: var(--bg-nav);
        border-radius: 0.2rem;
        border: solid 1px #aaa;
    }
    .menu {
        display: flex;
    }
}