.admin-search {
    width: 50%;
    height: 2.5rem;
    padding: .375rem .75rem;
    font-size: 1rem;
    border: 1px solid var(--input-border);
    border-radius: .375rem;
    transition: border-color .2s ease-in-out, box-shadow .2s ease-in-out;
}

.admin-search:focus {
    border-color: #1ee63a;
    outline: 0;
    box-shadow: 0 0 0 .25rem rgb(199, 255, 207);
}