.no-page {
    padding: 1rem;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.my-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin: 1rem;
}